<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Painel da Clínica</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div th:insert="~{componentes/navigation-clinica::navigation}"></div>

<div class="feedback-container-feedback">
    <h1 class="dashboard-title">Bem-Vindo, <span th:text="${nomeClinica}">[Nome]</span></h1>
    <div class="header-container">
        <h1 class="feedback-title">Seus Dados</h1>
        <a href="/clinicas/editar" class="btn-novo">+ Alterar Dados</a>
    </div>
    <div class="clinica-info">
        <p><strong>Nome:</strong> <span th:text="${nomeClinica}"></span></p>
        <p><strong>Telefone:</strong> <span th:text="${telefoneClinica}"></span></p>
        <p><strong>Endereço:</strong> <span th:text="${enderecoClinica}"></span></p>
        <p><strong>Email:</strong> <span th:text="${emailClinica}"></span></p>
    </div>
</div>

<div th:insert="~{componentes/footer::footer}"></div>

</body>
</html>
