<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{consultas.title}">Minhas Consultas</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<div th:insert="~{componentes/navigation-dentista::navigation}"></div>

<div class="dashboard-container">
    <h1 class="dashboard-title" th:text="#{consultas.heading}">Minhas Consultas</h1>

    <table class="dashboard-table">
        <thead>
        <tr class="table-header-consulta">
            <th th:text="#{consultas.paciente}">Paciente</th>
            <th th:text="#{consultas.tipo}">Tipo</th>
            <th th:text="#{consultas.datahora}">Data/Hora</th>
            <th th:text="#{consultas.status}">Status</th>
            <th th:text="#{consultas.tratamento}">Tratamento</th>
            <th th:text="#{consultas.retorno}">Retorno</th>
            <th th:text="#{consultas.custo}">Custo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consulta : ${consultas}">
            <td th:text="${consulta.cliente.nome}">Paciente</td>
            <td th:text="${consulta.tipoServico}">Tipo</td>
            <td th:text="${consulta.dataConsulta}">Data</td>
            <td th:text="${consulta.statusConsulta == 'S' ? #{consultas.status.realizada} : #{consultas.status.pendente}}">Status</td>
            <td th:text="${consulta.tratamentoRecomendado}">Tratamento</td>
            <td th:text="${consulta.dataRetorno}">Retorno</td>
            <td th:text="${consulta.custo}">R$</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="~{componentes/footer::footer}"></div>

</body>
</html>
