<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Novo Cliente</title>
</head>
<body>
<form method="post" action="/clientes/criar" th:object="${newCliente}">
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" placeholder="Digite o nome" required>
    <label>Sobrenome:</label>
    <input type="text" th:field="*{sobrenome}" placeholder="Digite o sobrenome" required>
    <label>Email:</label>
    <input type="email" th:field="*{email}" placeholder="Digite o email" required>
    <label>Telefone:</label>
    <input type="text" th:field="*{telefone}" placeholder="Digite o telefone" required>
    <label>Data de Nascimento:</label>
    <input type="date" th:field="*{dataNasc}" required>
    <label>Endereço:</label>
    <input type="text" th:field="*{endereco}" placeholder="Digite o endereço completo" required>

    <button type="submit">Cadastrar</button>

    <a href="/clientes">Voltar para Listagem de Clientes</a>

</form>