<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Dentista</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<div th:insert="~{componentes/navigation-clinica::navigation}"></div>

<div class="create-container">
    <h1 class="create-title">Cadastrar Novo Dentista</h1>

    <form method="post" th:action="@{/dentistas/criar}" th:object="${novoDentista}" class="create-form">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" placeholder="Digite o nome" required>

        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" th:field="*{sobrenome}" placeholder="Digite o sobrenome" required>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" th:field="*{telefone}" placeholder="Digite o telefone" required>

        <label for="especialidade">Especialidade:</label>
        <select id="especialidade" th:field="*{especialidade.idEspecialidade}" required>
            <option value="">Selecione uma Especialidade</option>
            <option th:each="esp : ${especialidades}" th:value="${esp.idEspecialidade}" th:text="${esp.nome}"></option>
        </select>

        <label for="email">Email (Login):</label>
        <input type="email" id="email" th:field="*{user.username}" placeholder="Digite o email do dentista" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" th:field="*{user.password}" placeholder="Digite a senha" required>

        <div class="create-actions">
            <button type="submit" class="btn-cadastrar">Cadastrar</button>
            <a href="/dentistas" class="btn-voltar">Cancelar</a>
        </div>
    </form>
</div>

<div th:insert="~{componentes/footer::footer}"></div>

</body>
</html>
