<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clinica</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div th:insert="~{componentes/navigation::navigation}"></div>
<h1>HomePage</h1>
<form method="get" action="/clientes">
    <label>
        <input name="login" type="text" placeholder="Login">
    </label>
    <label>
        <input name="senha" type="password" placeholder="Senha">
    </label>
    <input type="submit" value="Enviar">
</form>
<div th:insert="~{componentes/footer::footer}"></div>
</body>
</html>
