<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo à OdontoPrev</title>
    <link rel="preload" href="/styles/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/styles/style.css">
    </noscript>
</head>
<body>

<div class="home-container">
    <h1 class="home-title">Bem-vindo à OdontoPrev</h1>
    <p class="home-subtitle">Faça seu login para acessar o sistema</p>

    <form th:action="@{/login}" method="post" class="login-form">
        <div>
            <label for="username">Login</label>
            <input id="username" name="username" type="text" placeholder="Digite seu login" required>
        </div>
        <div>
            <label for="password">Senha</label>
            <input id="password" name="password" type="password" placeholder="Digite sua senha" required>
        </div>
        <button type="submit">LOGIN</button>
    </form>
</div>
<div th:if="${param.error}">Nome de usuário ou senha inválidos.</div>
<div th:if="${param.logout}">Você foi desconectado.</div>
<div th:insert="~{componentes/footer::footer}"></div>

</body>
</html>
