<div class="topnav" th:fragment="navigation">
    <img src="/assets/logo.png" alt="Logo" class="logo">

    <a href="/clinicas/home" th:text="#{nav.home}">Home</a>
    <a href="/dentistas" th:text="#{nav.dentistas}">Dentistas</a>
    <a href="/feedbacks" th:text="#{nav.feedbacks}">Feedbacks</a>

    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="logout-button" th:text="#{nav.logout}">Logout</button>
    </form>

    <div style="float: right; margin-right: 1rem;">
        <a href="?lang=pt">🇧🇷</a>
        <a href="?lang=en">🇺🇸</a>
    </div>
</div>
